{% extends "base.html" %} {% load static %} {% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-dark">
      {% include 'customerdeshboard_sidebar.html' with addcourse='bg-light  text-dark' %}
    </div>
    <div class="col-10">
      <div class="container p-4 shadow-lg my-5">
        <div class="row mb-3">
          <h1 class="display-5 fw-bold text-center">Add Your Course..</h1>
        </div>
        <div class="row">
          <!-- ==============================================================
            form Here-------------------------------------------------
            ============================================================== -->
          <form method="post" enctype="multipart/form-data" onsubmit="addcourseform(event)">
            {% csrf_token %}

            <div class="col-8 mx-auto">
              <div class="d-flex mb-3">
                <div class="form-group mb-3 col-6 pe-3">
                  <label for="title" class="mb-2">
                    <i class="bi bi-pencil-square pt-1 pe-1 h4"></i>
                    <span class="fw-semibold"> Course Title *</span>
                  </label>
                  <br />
                  <input
                    type="text"
                    class="form-control"
                    required
                    placeholder="Course Title *"
                    id="title"
                    name="title"
                  />
                </div>
                <div class="form-group mb-3 col-6 ms-auto ps-3">
                  <label for="price" class="mb-2">
                    <i class="bi bi-currency-dollar pt-1 pe-1 h4"></i>
                    <span class="fw-semibold"> Price *</span>
                  </label>
                  <input
                    type="number"
                    class="form-control"
                    required
                    placeholder="Price *"
                    id="price"
                    name="price"
                  />
                </div>
              </div>
              <div class="mb-3">
                 <label for="key-points" class=" d-flex align-items-center mb-0">
                    <i class="bi bi-currency-dollar pt-1 pe-1 h5"></i>
                    <span class="fw-semibold"> Add Key Points or Subtitles. <span class="fw-normal">( Separated by commas )</span></span>
                    <span class="fw-normal ms-auto pe-4"> ( This is Optional )</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    required
                    placeholder="Key Points"
                    id="key-points"
                    name="key-points"
                  />
              </div>
              <div class="mb-3">
                <div class="form-group mb-3">
                  <label for="description" class="mb-2">
                    <i class="bi bi-journal-text pt-1 pe-1 h4"></i>
                    <span class="fw-semibold">Select Category *</span>
                    <span class="fw-semibold ms-3 text-danger d-none" id="category_valid">This field is Required. *</span>
                  </label>
                  <select class="form-select" aria-label="Default select example" id="category" name="category_id" required>
                    <option  class="d-none" value="none">Categories...</option>
                    {% for i in categories %}
                    <option value="{{i.id}}">{{i.category_name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              
              <div class="mb-3">
                <div class="form-group mb-3">
                  <label for="description" class="mb-2">
                    <i class="bi bi-journal-text pt-1 pe-1 h4"></i>
                    <span class="fw-semibold">Course Description *</span>
                  </label>
                  <textarea
                    name="description"
                    required
                    id="description"
                    placeholder="Write Here.."
                    class="form-control"
                    rows="3"
                  ></textarea>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-group mb-3">
                  <label for="course_file" class="mb-2">
                    <i class="bi bi-file-earmark-pdf pt-1 pe-1 h4"></i>
                    <span class="fw-semibold">Course File or PDF *</span>
                  </label>
                  <input
                    type="file"
                    class="form-control"
                    name="course_file"
                    id="course_file"
                    accept=".pdf"
                  />
                </div>
              </div>
              <div class="d-flex mb-3 align-items-center">
                <div class="form-group mb-3 col-6 pe-3">
                  <button class="btn btn-outline-secondary" type='button'>
                    <label for="image" class="mb-2">
                      <i class="bi bi-pencil-square pt-1 pe-1 h4"></i>
                      <span class="fw-semibold"> Course image *</span>
                    </label>
                  </button>
                  <br />
                  <input
                    type="file"
                    class="form-control d-none"
                    required
                    accept="image/*"
                    id="image"
                    name="image"
                    onchange="selectImage()"
                  />
                </div>
                <div
                  class="form-group mb-3 col-4 text-center border rounded p-0 m-0 mx-auto cursor-pointer"
                >
                  <button class="btn border-0 p-1 cursor-pointer" type='button'>
                    <label for="image">
                      <img
                        src="{% static 'images/upload.jpg' %}"
                        id="courseImage"
                        height="150px"
                        width="100%"
                        alt=""
                        class="rounded object-fit-cover cursor-pointer"
                      />
                    </label>
                  </button>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-success px-4 rounded-pill w-25 fw-semibold large" type="submit"> Submit <i class="bi bi-arrow-right fw-semibold"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




{% for msg in messages %}
{% if msg.tags == "info" %}
      <button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Launch demo modal
        </button>
        <iframe src="https://www.youtube.com/watch?v=PdkQooqoINA" class="d-none" frameborder="0" onload="message()"></iframe>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal" id="msgButton">
      Launch demo modal
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> 
            <img src="{{user.image.url}}" class="rounded-5" style="height: 30px; width:30px;">
            {{user.email}}
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-1">
          <p class="text-secondary text-center fw-semibold mb-0">
            Wellcome
          </p>
            <p class="text-success text-center fw-semibold mb-0">
               {{msg}}
             </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success fw-semibold px-3 py-2 mx-auto" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
{% endblock body %} 
{% block customJS %}
<script>
  function selectImage() {
    const image = document.getElementById("courseImage");
    image.src = URL.createObjectURL(event.target.files[0]);
  }

  
  function message(){
    const msgButton = document.getElementById("msgButton")
    msgButton.click()
}

function addcourseform(event){
  const category = document.getElementById('category')
  if (category.value == "none"){
    const category_valid = document.getElementById("category_valid")
    category_valid.classList.replace("d-none","d-inline")
    category.focus()
    event.preventDefault()
  }
  else{
    return true
  }
}
</script>

{% endblock customJS %}
