{% extends "base.html" %} 
{% load static %} 

{% block style %}
 select {
      appearance: none; /* Remove default appearance */
      -webkit-appearance: none; /* For older versions of Chrome/Safari */
      -moz-appearance: none; /* For older versions of Firefox */
      text-indent: 1px; /* Fix for Firefox */
      text-overflow: ''; /* Fix for Firefox */
    }
select:focus{
  outline:none;
}
.filterfield:focus{
  outline:none;  
}
.filterbtn:active{
  background-color: #e0f0cc !important;
}
.category_hover:hover{
  cursor:pointer;
  background-color:#edf0f5 !important;
}

.selectbox_show{
  height: fit-content !important
}
.selectbox_hidden{
  height: 0px !important
}
{% endblock style %}



{% block body %}

<div class="container-fluid overflow-hidden mb-5 pb-5 px-5">
    <div class="row mt-4 align-items-center">
      {% if selected_category %}
         <div class="col-4 d-flex">
          <span class="fw-semibold text-secondary me-3">Category :</span>
          <h5 class=" fw-semibold"> " {{selected_category}} "</h5>
        </div>
        {% else %}
         <div class="col-4">
          <h1 class="display-6 fw-semibold">Latest Uploaded Course ..</h1>
        </div>
        {% endif %}
       
        <div class="col-4 ms-auto border h-100 bg-white p-0 overflow-hid position-relative">
            <form method="get"  class=" d-flex" onsubmit="filterform(event)">
              <input type="text" class="fw-normal text-secondary border-0  px-2 py-2 w-75 filterfield" name="category" placeholder="{% if selected_category %} {{selected_category}} {% else %}Select Category {% endif %}" id="category_field" oninput="showOptions(event)" onfocus="showOptions(event)">
              
              <div class="vr"></div>
              <button type="submit" class="btn btn-border rounded-0 ms-auto fw-normal text-secondary p-0 filterbtn" style='width: 25%; background-color: #d5f0b1;'>
               Filter
               <i class="bi bi-filter"> </i>
             </button>
              <div class="w-100 border position-absolute overflow-hidden selectbox_hidden" id="selectbox" style="top: 40px; background-color: #fff !important; ">
                {% for i in categories %}
                 <button type="button" class="border-0 bg-body d-block text-start w-100 fw-semibold text-secondary category_hover mb-0 py-2 ps-3" onclick="selectedcategory('{{i.category_name}}')" >
                    {{i.category_name}}
                 </button>
                {% endfor %}
              </div>
              <div class="w-100 border position-absolute overflow-hidden py-1 d-none" id="errorbox" style="top: -34px; background-color: #fff !important; ">
                <span class="text-danger fw-semibold ps-3 ">Please select a Category. * </span>
              </div>
           </form>
        </div>
        <hr class="mt-2"/>
    </div>
    <div class="row pt-5 gy-5 gx-5">
        <!--     
            =======================================================================
            Approved courses here==================================================
            ======================================================================= -->
        {% for course in courses %}
         {% if course.approve %}
          {% if not course.user == user %}
          <div class="col-6">
              <div class="shadow-lg d-flex justify-content-center rounded px-1 py-3 h-100">
                  <div style="width: 35%">
                    <img src="{{course.image.url}}" height="100%" width="100%" alt="" />
                  </div>

                  <div style="width: 40%" class="d-flex">
                  <div class="px-2 d-flex flex-column">
                     
                     <p class="fw-semibold fst-italic mb-0 text-secondary">
                        {{course.category.category_name}}
                     </p>
                      <h4>{{course.title}}</h4>
                      <p  class="text-secondary fst-italic" style="font-size: 13px;font-weight: 600;">
                      {{course.description|truncatechars:200 }}
                      </p>

                      <a href="{% url 'About More Course' id=course.id %}" class=' mt-auto'>
                        <button class="btn btn-secondary px-3">
                          About More <i class="bi bi-box-arrow-up-right ms-1"></i>
                        </button>
                      </a>
                  </div>
                  <div class="vr"></div>
                  </div>
                  <div style="width: 22%"  class="d-flex flex-column align-items-center ps-2" >
                  <div class="ms-auto">
                      <i class="bi bi-person-lines-fill pe-1"></i>
                      <div class="vr"></div>
                      <i class="bi bi-suit-heart pe-1"></i>
                  </div>
                  <div class="my-auto">
                      <h5 class="text-center">
                      <i class="bi bi-currency-dollar"></i>{{course.price}}.00
                      </h5>
                      <p class="small fw-semibold text-center mb-1">
                      {{course.sale_counter}} Sales
                      </p>
                      <p class="small text-center mb-1">
                      Uploaded : <br />{{course.published_datetime}}
                      </p>
                      <p class="small text-center mb-1">
                      Approval : <br />{{course.approval_datetime}}
                      </p>
                      <div class="text-center w-100 mt-4 w-100">
                          <a href="{% url 'addtocart' id=course.id %}" class="mx-auto w-100">
                              <button class="btn btn-outline-success w-100">
                              <i class="bi bi-cart-plus"></i> Add To Cart
                              </button>
                          </a>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
          {% endif %}
        {% endif %} {% endfor %}
    </div>

    {% if not courses %}
    <div class="row">
      <div class="col-10 mx-auto py-5">

        <h1 class=" fst-italic text-center text-secondary"><i class="bi bi-folder-x display-1"></i></h1>
        <h1 class="display-2 fst-italic text-center text-secondary">
          Not Available
        </h1>
      </div>
    </div>
    {% endif %}


</div>

{% for msg in messages %}
{{msg.tags}}
    <button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
      </button>
      <iframe src="https://www.youtube.com/watch?v=PdkQooqoINA" class="d-none" frameborder="0" onload="message()"></iframe>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal" id="msgButton">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> 
            <img src="{{user.image.url}}" class="rounded-5" style="height: 30px; width:30px;">
            {{user.email}}
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{msg}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endblock body %}

  {% block customJS %}
  <script>
    function message(){
        const msgButton = document.getElementById("msgButton")
        msgButton.click()
    }

    function showOptions(event){
      const selectbox =  document.getElementById("selectbox")
      selectbox.classList.replace("selectbox_hidden","selectbox_show")
       

    }
    function hiddenOpitions(event){
      

    }

    function selectedcategory(category){
      const selectbox =  document.getElementById("selectbox")
      selectbox.classList.replace("selectbox_show","selectbox_hidden")
      const category_field =  document.getElementById("category_field")
      category_field.value=category
    }
    
    function filterform(event){
      const category_field =  document.getElementById("category_field")
      const errorbox = document.getElementById("errorbox")
      if (category_field.value == ""){
        errorbox.classList.replace("d-none","d-block")
        event.preventDefault()
      }

    }
  </script>

  {% endblock customJS %}

 

