{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-dark">
            {% include 'customerdeshboard_sidebar.html' with  customercart='bg-light text-dark' %}
        </div>
        <div class="col-10">
            <div class="container">
                <div class="row my-5">
                    <div class="col-4 m-auto text-center shadow-lg p-4">
                        <img src="{% static 'images/checkmark.png' %}" height="120px" width="150px" alt="image" class="mx-auto">
                        <h4 class="text-success text-center my-4">Conformations Successfully...</h4>
                       <a href="{% url 'buyinghistory' %}"> <button class="btn btn-outline-success py-2 px-4 fw-semibold fs-5">OK</button>
                    </a></div>
                </div>
                <div class="row">
                    {% for url in pdf_urls %}
                    <a class="pdfLink" style="display: none;" href="{{url}}" download=".pdf" target="_blank">{{cart.course.title}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block customJS %}
<script>
    window.onload= function(){
        const pdfList = document.getElementsByClassName("pdfLink")
        for(i=0; i<pdfList.length; i++){
            pdfList[i].click()
        }
       
    }
     
</script>
{% endblock customJS %}