{% extends "base.html" %}


{% block body %}

<div class="container">
    <div class="row my-5 px-5 justify-content-between">
        <div class="col-3 shadow-lg   py-2 d-flex justify-content-center align-items-center" style="background-color: white !important;">
            <div class="px-2 me-2">
                <i class="bi bi-phone-vibrate " style="font-size: 40px; color:rgb(16, 130, 212)"></i>
            </div>
            <div class="pt-2">
                <p class="mb-0 fw-bold " style="font-size: 14px;">Phone</p>
                <p class="mb-0 text-secondary fw-semibold" style="font-size: 14px;">+91 35455 34544</p>
            </div>
        </div>

        <div class="col-3 shadow-lg   py-2 d-flex justify-content-center align-items-center" style="background-color: white !important;">
            <div class="px-2 me-2">
                <i class="bi bi-envelope align-middle" style="font-size: 40px; color:rgb(16, 130, 212)"></i>
            </div>
            <div class="pt-2">
                <p class="mb-0 fw-bold " style="font-size: 14px;">Email</p>
                <p class="mb-0 text-secondary fw-semibold" style="font-size: 14px;">courserbazzar@mali.com</p>
            </div>
        </div>

        <div class="col-3 shadow-lg   py-2 d-flex justify-content-center" style="background-color: white !important;">
            <div c7lass="px-2 ">
                <i class="bi bi-geo-alt " style="font-size: 40px; color:rgb(16, 130, 212)"></i>
            </div>
            <div class="pt-2 ms-2">
                <p class="mb-0 fw-bold " style="font-size: 14px;">Location</p>
                <p class="mb-0 text-secondary fw-semibold" style="font-size: 14px;">Atulya IT Park,Indore</p>
            </div>
        </div>
        
        <div class="col-12 my-5">
            <h1 class="py-3">Get in Touch</h1>
            <div class="row my-4">
                <div class="col-4 pe-3">
                    <div class="form-floating ">
                        <input type="email" name="user_name" class="form-control ps-4" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput" class="text-secondary ps-4">Your Name</label>
                      </div>
                </div>
                <div class="col-4 pe-3">
                    <div class="form-floating ">
                        <input type="email" name="user_email" class="form-control ps-4" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput" class="text-secondary ps-4">Email address</label>
                      </div>
                </div>
                <div class="col-4 ">
                    <div class="form-floating ">
                        <input type="email" name="user_phone" class="form-control ps-4" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput" class="text-secondary ps-4">Phone No.</label>
                      </div>
                </div>
                <div class="col-12 mt-4">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                      </div>
                </div>
                <div class="col-3 mt-3">
                    <button class="btn btn-info fw-semibold fs-5 text-white w-100"> Send Message <i class="bi bi-arrow-right align-middle"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}