{% extends "base.html" %} 
{% load static %} 

{% block style %}
.offers-badge{
transform:rotate(-45deg);
top:8px;
left:-258px;
}
{% endblock style %}
{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-dark">
      {% include 'customerdeshboard_sidebar.html' with customercart='bg-light text-dark' %}
    </div>
    <div class="col-10">
      <div class="container shadow-lg m-4 p-5">
        <div class="row">
          <h1 class="display-4 text-center fw-bold text-secondary"> <i class="bi bi-cart4"></i> Your Cart</h1>
          <hr />
        </div>
        {% if not carts %}
        <div class="row">
          <div
            class="col-6 mx-auto text-center text-danger d-flex flex-column justify-content-center"
          >
            <i class="bi bi-folder2-open" style="font-size: 200px"></i>
            <h1>Empty...</h1>
            <a href="{% url 'Buy Course' %}">
              <button
                class="w-auto mt-4 btn btn-outline-success px-5 fw-semibold large"
              >
                <i class="bi bi-cart4 align-middle"></i> Buy Course
              </button>
            </a>
          </div>
        </div>
        {% else %}
        <!--         
        =======================================================================
        Approved courses here==================================================
        ======================================================================= 
        
      -->
        {% for cart in carts %}
        <div class="row py-4">
          <div class="col-11 mx-auto shadow-lg d-flex justify-content-center">
            <div class="row px-2 py-3  position-relative overflow-hidden">
               {% if cart.course.courseoffer %}
                <div class="position-absolute offers-badge w-50 py-2 text-center bg-info">
                  <span class="small fw-semibold text-white fs-6">{{cart.course.courseoffer.offer}}%  <span>Off</span></span>
                </div>
                {% endif %}
              <div class="col-3 pe-0" >
                <img
                  src="{{cart.course.image.url}}"
                  height="100%"
                  width="100%"
                  alt=""
                />
              </div>
              <div class="col-6 d-flex">
                <div class="px-2">
                  <a href="{% url 'Publisher Courses' id=cart.course.id %}" class="text-decoration-none">
                    <img
                    src="{{cart.course.user.image.url}}"
                    alt=""
                    style="width: 30px; height: 30px"
                    class="rounded-circle"
                  />
                  {{cart.course.user.email}}
                  </a>
                  <h4>{{cart.course.title}}</h4>
                  <p class="fw-normal mb-0" style="font-size: 13px">
                    {{cart.course.description|truncatechars:149 }}
                  </p>
                  <div class="w-100 text-end">
                    <button
                      class="btn btn-primary"
                      style="font-size: 12px; font-weight: 600"
                      data-bs-toggle="collapse"
                      href="#aboutmore{{cart.course.id}}"
                      role="button"
                      aria-expanded="false"
                      aria-controls="{{cart.course.title}}"
                    >
                      Read More
                    </button>
                  </div>
                </div>
                <div class="vr"></div>
              </div>
              <div class="col-2">
                <div class="text-end">
                  <i class="bi bi-person-lines-fill pe-1"></i>
                  <div class="vr"></div>
                  <i class="bi bi-suit-heart pe-1"></i>
                </div>
               {% if cart.course.courseoffer.remaining_amount %}
                <h5 class="text-center mt-1 mb-0">
                  <i class="bi bi-currency-dollar"></i>{{cart.course.courseoffer.remaining_amount|floatformat:2}}
                </h5>
                <p class="text-center mb-1" style="font-size: 14px">
                  <del><i class="bi bi-currency-dollar"></i>{{cart.course.price|floatformat:2}}</del>
                </p>
                {% else %}
                <h5 class="text-center mt-1">
                  <i class="bi bi-currency-dollar"></i>{{cart.course.price|floatformat:2}}
                </h5>
                {% endif %}
                <p class="small fw-semibold mb-1 text-center">
                  {{cart.course.sale_counter}} Sales
                </p>
                <p class="small text-center mb-1">
                  Uploaded : <br />{{cart.course.approval_datetime}}
                </p>
              </div>
              <div class="col-1 d-flex flex-colunm align-items-center">
                <div class="vr"></div>
                <div class="mx-auto">
                  <a href="{% url 'deletecart' id=cart.id %}" class="deletebtn">
                    <i
                      class="bi bi-trash3 ms-2 fs-2 p-2 shadow-sm text-danger "
                    ></i>
                  </a>
                </div>
              </div>
              <div class="col-12 mx-auto">
                
                <div class="collapse " id="aboutmore{{cart.course.id}}">
                  <div class="row ">
                    <hr class="mb-0 mt-3">
                    <div class="card card-body border-0  rounded-0">
                      <h4>{{cart.course.title}}</h4>
                      <p>{{cart.course.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        {% endfor %}
        <hr>
        

        <div class="row text-center"><a href="{% url 'conformorder' %}">
          <button class="btn btn-outline-primary mx-auto w-auto px-5 py-1 fw-semibold fs-5"> Place Order <i class="bi bi-bag-plus ms-2"></i></button>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock body %}
