{% extends "base.html" %} {% block body %}
<div class="container-fuild overflow-hidden">
    <div class="row ps-4 pt-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'buycourse' %}">Buy Course</a>
            </li>
            <li class="breadcrumb-item">
              <a href="{{backurl}}">{{backcourse.title}} </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Publisher Courses</li>
          </ol>
        </nav>
        <hr />
      </div>
</div>
<div class="container my-5">
  <div class="row mt-5">
    <h4>
        <img src="{{backcourse.customer.image.url}}" alt="" style="width: 30px; height:30px" class="rounded-circle">
        <i>{{backcourse.customer.user.email}}</i>
    </h4>
    <hr>
  </div>

  {% for course in customercourses %}
  {% if course.approve %}
 <div class="row py-4">
   <div
     class="col-9 mx-auto shadow-lg d-flex justify-content-center p-3"
   >
     <div style="width: 35%">
       <img
         src="{{course.image.url}}"
         height="220px"
         width="100%"
         alt=""
       />
     </div>
     <div style="width: 40%" class="d-flex">
       <div class="p-3">
         <h4>{{course.title}}</h4>
         <p class="fw-normal" style="font-size: 13px">
           {{course.description|truncatechars:249 }}
         </p>
         <a href="{{course.course_file.url}}" class="mx-auto">
           <button class="btn btn-outline-secondary w-50">
             <i class="bi bi-file-earmark-pdf pt-1 pe-1 h4"></i> PDf
           </button>
         </a>
       </div>
       <div class="vr"></div>
     </div>
     <div
       class="d-flex flex-column align-items-center justify-content-center ps-2"
       style="width: 22%"
     >
       <div class="ms-auto">
         <i class="bi bi-person-lines-fill pe-1"></i>
         <div class="vr"></div>
         <i class="bi bi-suit-heart pe-1"></i>
       </div>
       <h5 class="text-center">
         <i class="bi bi-currency-dollar"></i>{{course.price}}.00
       </h5>
       <p class="small fw-semibold mb-1">{{course.sale_counter}} Sales</p>
       <p class="small text-center mb-1">Uploaded : <br>{{course.published_datetime}}</p>
       <p class="small text-center mb-1">Approval : <br>{{course.approval_datetime}}</p>
       <button class="btn btn-outline-success mt-auto fw-semibold px-4">
        <i class="bi bi-cart-plus"></i> Add To Cart
      </button>
     </div>
   </div>
 </div>
 {% endif %} {% endfor %}

</div>
{% endblock body %}
