{% load static %}

<div class="py-5">
  <div class="text-center">
    {% if customer.image.url %}
    <img
      src="{{ customer.image.url }}"
      alt
      style="height: 120px; width: 130px"
      class="rounded-circle"
    />
    {% else %}
    <img
      src="{% static 'images/pic.png' %}"
      alt
      style="height: 120px; width: 130px"
      class="rounded-circle"
    />
    {% endif %}
    <h4 class="text-light">{{user.email}}</h4>
    <hr class="text-light" />
  </div>
  <div class="text-start">
    <ul class="ps-1" type="none">
      <a
        href="{% url 'customerprofile' %}"
        class="fw-semibold text-light {{profile}} "
        ><li class="{{profile}} align-center p-2">
          <i
            class="bi bi-person-vcard fw-semibold h5 pe-2 text-light {{profile}}"
          ></i
          >Profile
        </li></a
      >

      <hr class="text-light m-0" />

      <a
        href="{% url 'addcourse' %}"
        class="fw-semibold text-light {{addcourse}} w-100"
        ><li class="align-center p-2 {{addcourse}}">
          <i
            class="bi bi-plus-lg fw-semibold text-light h5 pe-2 {{addcourse}}"
          ></i
          >Add Course
        </li></a
      >
      <hr class="text-light m-0" />
      <a
      href="{% url 'uploadedcourses' %}"
      class="fw-semibold text-light {{uploadedcourses}} w-100"
      ><li class="align-center p-2 {{uploadedcourses}}">
        <i
          class="bi bi-floppy fw-semibold text-light h5 pe-2 {{uploadedcourses}}"
        ></i
        >Uploaded Course
      </li></a
    >
    <hr class="text-light m-0" />
    </ul>
  </div>

  <div class="text-center mt-5">
    <a href="{% url 'customerlogout' %}">
      <button class="btn btn-danger fw-semibold rounded-pill px-5 w-auto">
        Logout <i class="bi bi-box-arrow-right"></i>
      </button>
    </a>
  </div>
</div>
