{% load static %}

<div class="py-5">
  <div class="text-center">
    {% if customer.image.url %}
    <img
      src="{{ customer.image.url }}"
      alt
      style="height: 80px; width: 90px"
      class="rounded-circle"
    />
    {% else %}
    <img
      src="{% static 'images/pic.png' %}"
      alt
      style="height: 120px; width: 130px"
      class="rounded-circle"
    />
    {% endif %}
    <h4 class="text-light">{{user.email}}</h4>
    <hr class="text-light" />
  </div>
  <div class="text-start">
    <ul class="ps-1" type="none">
      <a
        href="{% url 'customerprofile' %}"
        class="fw-semibold text-light {{profile}} "
        ><li class="{{profile}} align-center p-2">
          <i
            class="bi bi-person-vcard fw-semibold h5 pe-2 text-light {{profile}}"
          ></i
          >Profile
        </li></a
      >

      <hr class="text-light m-0" />

      
      <a
        href="{% url 'customercart' %}"
        class="fw-semibold text-light {{customercart}} w-100"
        ><li class="align-center p-2 {{customercart}}">
          <i
            class="bi bi-cart4 fw-semibold text-light h5 pe-2 {{customercart}}"
          ></i
          >Your Carts
        </li></a
      >
      <hr class="text-light m-0" />

      <a
        href="{% url 'wallet' %}"
        class="fw-semibold text-light {{wallet}} w-100"
        ><li class="align-center p-2 {{wallet}}">
          <i class="bi bi-wallet2 fw-semibold text-light h5 pe-2 {{wallet}}"></i
          >Your wallet
        </li></a
      >
      <hr class="text-light m-0" />

      <a
        href="{% url 'buyinghistory' %}"
        class="fw-semibold text-light {{buyinghistory}} w-100"
        ><li class="align-center p-2 {{buyinghistory}}">
          <i
            class="bi bi-clock-history fw-semibold text-light h5 pe-2 {{buyinghistory}}"
          ></i>
         Buying History
        </li></a
      >
      <hr class="text-light m-0" />
    </ul>

    
    {% if user.is_seller %}
    <h3 class="text-light mt-5">As a Saller</h3>
    <ul class="ps-1" type="none">

      <a
        href="{% url 'addcourse' %}"
        class="fw-semibold text-light {{addcourse}} w-100"
        ><li class="align-center p-2 {{addcourse}}">
          <i
            class="bi bi-plus-lg fw-semibold text-light h5 pe-2 {{addcourse}}"
          ></i
          >Add Course
        </li></a
      >
      <hr class="text-light m-0" />
      <a
        href="{% url 'uploadedcourses' %}"
        class="fw-semibold text-light {{uploadedcourses}} w-100"
        ><li class="align-center p-2 {{uploadedcourses}}">
          <i
            class="bi bi-floppy fw-semibold text-light h5 pe-2 {{uploadedcourses}}"
          ></i
          >Uploaded Course
        </li></a
      >
      <hr class="text-light m-0" />


      <a
        href="{% url 'sellinghistory' %}"
        class="fw-semibold text-light {{sellinghistory}} w-100"
        ><li class="align-center p-2 {{sellinghistory}}">
          <i
            class="bi bi-clock-history fw-semibold text-light h5 pe-2 {{sellinghistory}}"
          ></i>
         Selling History
        </li></a
      >
      <hr class="text-light m-0" />
    </ul>
    {% endif %}
  </div>

  <div class="text-center mt-5">
    <a href="{% url 'customerlogout' %}">
      <button
        class="btn btn-danger fw-semibold rounded-pill px-5 w-auto align-middle"
      >
        Logout <i class="bi bi-box-arrow-right"></i>
      </button>
    </a>
  </div>
</div>
