

{% load static %}
<div class="container-fluid shadow-lg px-5 py-5">
  <div class="row px-5">
    <div class="col-3">
      <div class="mb-3">
        <span>
          <img src="{% static 'images/cb-logo.png' %}" width="40px" height="40px" alt="" srcset="">
        </span>
        <span class="h-100 position-relative">
          <p class="mb-0  pb-0 fw-bold position-absolute"
            style="top:-16px;left:1px; font-size:23px; color:rgb(10, 72, 153) ">Course</p>
          <p class="mb-0  pb-0 fw-bold position-absolute"
            style="top:5px; left:15px; font-size:23px; color:rgb(10, 72, 153)">Bazzar</p>
        </span>
      </div>
      <span class="fw-noraml small text-secondary">Infograins s/w Solution Pvt. Lmt. <br>407 Atulya IT Park,
        Indore(M.P)</span>
      <div class="fw-semibold small text-dark">Phone : +91 9876543210</div>
      <div class="fw-semibold small text-dark">Email : bklodhi@gmail.com</div>
      <div class="mt-2">
        <i class="bi bi-linkedin fs-3 text-info me-2"></i>
        <i class="bi bi-whatsapp fs-3 text-info me-2"></i>
        <i class="bi bi-facebook fs-3 text-info me-2"></i>
        <i class="bi bi-github fs-3 text-info me-2"></i>
        <i class="bi bi-instagram fs-3 text-info me-2"></i>
      </div>
    </div>
    <div class="col-2">
      <h5 class="mb-4">Useful Links</h5>
      <p class="mb-2"><a href="" class="text-dark fw-semibold">Home</a></p>
      <p class="mb-2"><a href="" class="text-dark fw-semibold">Shop</a></p>
      <p class="mb-2"><a href="" class="text-dark fw-semibold">Super Deals</a></p>
      <p class="mb-2"><a href="" class="text-dark fw-semibold">About Us</a></p>
      <p class="mb-2"><a href="" class="text-dark fw-semibold">Contact Us</a></p>
    </div>

    <div class="col-2">
      <h5 class="mb-4">Our Services</h5>
      <p class="mb-2"><a href="" class="text-dark fw-semibold">Home</a></p>
      <p class="mb-2"><a href="" class="text-dark fw-semibold">Shop</a></p>
      <p class="mb-2"><a href="" class="text-dark fw-semibold">Super Deals</a></p>
      <p class="mb-2"><a href="" class="text-dark fw-semibold">About Us</a></p>
      <p class="mb-2"><a href="" class="text-dark fw-semibold">Contact Us</a></p>
    </div>
    <div class="col-5 d-flex flex-column">
      <h5 class="mb-4">Get in Touch</h5>
      <p class="fw-normal fst-italic" style="font-size: 14px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque aliquam mollitia impedit dicta sint molestiae
        quas laborum sequi qui, eum id, ,
      </p>
      <div class="mt-auto border-3 d-flex w-75 rounded overflow-hidden shadow-lg" style="height: 40px;">
        <input type="text" class="border-0 w-100 ps-3 text-secondary msgfield" placeholder="Enter Message" name="" id="">
        <button class="btn btn-warning text-light px-5 fw-semibold py-2">Send</button>
      </div>
    </div>
  </div>
</div>


<!-- End Footer -->