{% load static %}

{% comment %} first Header ------- {% endcomment %}
<div class="container-fluid px-5">
  <div class="row px-3 py-4">
      <div class="col-lg-2 col-sm-5 pt-3 d-flex text-center">
          <span>
              <img src="{% static 'images/cb-logo.png' %}" width="40px" height="40px" alt="" srcset="">
          </span>
          <span class="h-100 position-relative">
            <p class="mb-0  pb-0 fw-bold position-absolute" style="top:-10px; font-size:23px">Course</p>
            <p class="mb-0  pb-0 fw-bold position-absolute" style="top:12px; left:15px; font-size:23px">Bazzar</p>
          </span>
      </div>
      <div class="col-lg-5 col-sm-10  pt-3">
          <div class="border rounded-2 p-0 position-relative">
              <input type="text" class="border-0 m-1 p-2 w-50 fw-semibold searchfield" placeholder="search for courses..." name="" id="">
              <div class="vr h-100"></div>
              <button class="btn text-secondary fw-semibold ps-3">All Categories.. <i class="bi bi-chevron-down ms-3"></i></button>
              <button class="btn btn-primary position-absolute top-0 end-0 h-100 px-3 fs-4 rounded-0 text-light"><i class="bi bi-search"></i></button>
          </div>
      </div>
      <div class="col--lg5  col-sm-5  d-flex">
        <a href="">
          <button class=" btn ">
            <div class="mx-3 d-flex  align-items-center">
              <div>
                <i class="bi bi-suit-heart fs-1 text-secondary align-center"></i>
              </div>
              <div class="ps-2">
                <p class="mb-0 fw-semibold text-dark ">
                  Wishlist
                </p>
                <p class="mb-0 fw-semibold text-secondary">
                  112
                </p>
              </div>
            </div>
          </button>
        </a>
        <a href="{% url 'customercart' %}">
          <button class="btn">
            <div class="mx-3 d-flex  align-items-center">
             <div class=" position-relative">
               <i class="bi bi-handbag  fs-1 text-secondary align-center "></i>
               {% if cartcounter %}
               <span class="position-absolute badge translate-middle  rounded-pill bg-info" style="top: 68%;
               left: 83%;">
                 {{cartcounter}}
                {% endif %}
               </div>
             <div class="ps-2">
               <p class="mb-0 fw-semibold text-dark ">
                 Cart
               </p>
               <p class="mb-0 fw-semibold text-secondary fs-6">
                 <i class="bi bi-currency-dollar "></i>{{total_price}}
               </p>
             </div>
           </div>
          </button>
        </a>
        {% if user.is_authenticated %}
 
        {% if not user.is_saller %}
       <div class="d-flex  align-items-center ms-auto">
        <a href="{% url 'becamesaller' %}" class="text-decoration-none">
          <button class="btn btn-outline-secondary">
            Became a saller
          </button>
        </a>
       </div>
        {% endif %}
          <div class=" d-flex  align-items-center ms-auto">
            <a href="{% url 'customerprofile' %}" class="text-decoration-none">
              <button class="btn btn-outline-secondary">
                <img src="{{customer.image.url}}" alt="" style="width: 25px; height:22px" class="rounded-circle">
                {{user.email|truncatechars:8}} <i class="bi bi-caret-down-fill"></i>
              </button>
            </a>
          </div>
          {% else %}
          <div class=" d-flex  align-items-center ms-auto">
            <a href="{% url 'login' %}" class="text-decoration-none">
              <button class="btn btn-outline-secondary">
                <i class="bi bi-box-arrow-in-right"></i>
                Sign In
              </button>
            </a>
            <a href="{% url 'signup' %}" class="text-decoration-none ms-3">
              <button class="btn btn-outline-secondary">
                <i class="bi bi-person-add"></i>
                Sign Up
              </button>
            </a>
          </div>
        
      
        {% endif %}
      </div>
  </div>
</div>

{% comment %} first Header ------- {% endcomment %}
<nav class="navbar navbar-expand-lg  bg-white shadow-lg px-4 py-1 mb-3">
    <div class="container-fluid">
      <button class="navbar-toggler fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        Menu
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-start mx-md-start mx-lg-auto  mb-2 mb-lg-0">
          <li class="nav-item mx-3">
            <a class="nav-link mx-2 fw-semibold {{home}}" aria-current="page" href="{% url 'home' %}"><i class="bi bi-house-fill"></i> Home</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link mx-2 fw-semibold {{buycourse}}" aria-current="page" href="{% url 'Buy Course' %}">Shop</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link mx-2 fw-semibold {{buycourse}}" aria-current="page" href="{% url 'Buy Course' %}">Super Deals</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link mx-2 fw-semibold {{buycourse}}" aria-current="page" href="{% url 'Buy Course' %}">About Us</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link mx-2 fw-semibold {{contact}}" aria-current="page" href="{% url 'contact' %}">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>