{% extends "base.html" %}
{% load static %}
{% block style %}
.hotcourse-badge{
transform:rotate(-45deg);
top:12px;
left:-101px; }

.bestoffercourse-badge{
transform:rotate(45deg);
top:15px;
right:-58px;
}
.offers-badge{
transform:rotate(-45deg);
top:-5px;
left:-52px;
}
.bets-sellers-badge{
  transform:rotate(-45deg);
  top: 3px;
  left: -84px;
  font-size: 14px;
}
{% endblock style %}


{% block body %}

<!-- Hot Couser ---------------- -->
<div class="container my-5 px-5">
  <div class="row justify-content-around border shadow py-5 bg-white position-relative overflow-hidden">
    <div class="bg-info px-5 py-3 border position-absolute w-25 text-center hotcourse-badge">
      <span class="text-white fw-semibold">Hot Course </span>
    </div>
    <div class="col-6 d-flex-flex-column text-center">
      <h1 class="display-5 mt-5 fw-bold text-info">{{hotcourse.title}}</h1>
      <p class="small fw-semibold text-secondary fst-italic mt-4">
        {{hotcourse.description|truncatechars:150}}
      </p>
      <h3 class="text-primary mb-0">
        <i class="bi bi-currency-dollar"></i>{{hotcourse.price|floatformat:2}}
      </h3>
      <p class="fw-semibold text-secondary fst-italic mb-0">
        {{hotcourse.sale_counter}} Sales
      </p>
      <a href="{% url 'addtocart' id=hotcourse.id %}" class="">
        <button class="btn btn-outline-success fw-semibold px-3 mt-3">
          <span class="h4">+</span> Add To Cart
        </button>
      </a>
    </div>
    <div class="col-5">
      <img src="{{hotcourse.image.url}}" class="rounded-5" height="300px" width="100%" />
    </div>
  </div>
</div>

<!-- Service Info ---------------- -->
<div class="container-fluid my-5 px-5">
  <div class="row px-5 justify-content-evenly">
    <div class="col-2 shadow border py-2 text-center" style="background-color: white !important">
      <p class="mb-0 fs-2 text-info">
        <i class="bi bi-universal-access"></i>
      </p>
      <p class="fw-semibold text-secondary fs-6 mb-0">Lifetime Accessibility</p>
    </div>

    <div class="col-2 shadow border py-2 text-center" style="background-color: white !important">
      <p class="mb-0 fs-2 text-info">
        <i class="bi bi-currency-dollar"></i>
      </p>
      <p class="fw-semibold text-secondary fs-6 mb-0">Low Price</p>
    </div>

    <div class="col-2 shadow border py-2 text-center" style="background-color: white !important">
      <p class="mb-0 fs-2 text-info">
        <i class="bi bi-cart-plus"></i>
      </p>
      <p class="fw-semibold text-secondary fs-6 mb-0">Easy To Buy</p>
    </div>

    <div class="col-2 shadow border py-2 text-center" style="background-color: white !important">
      <p class="mb-0 fs-2 text-info">
        <i class="bi bi-receipt"></i>
      </p>
      <p class="fw-semibold text-secondary fs-6 mb-0">Easy To Sale</p>
    </div>
  </div>
</div>

<!-- Best Offer Section ---------------- -->
<div class="container-fluid my-5 py-5">
  <div class="row px-5 justify-content-evenly mt-5">
    <div class="col-3  my-auto p-3 border shadow-lg position-relative overflow-hidden" style="height: fit-content;">
      <div class="bg-info px-5 py-3 border position-absolute w-50 text-center bestoffercourse-badge">
        <span class="text-white fw-semibold">Best Offer</span>
      </div>
      <h4 class="text-secondary mb-4">Deal of the week..</h4>
      <img src="{{bestoffercourse.course.image.url}}" class="mb-4" alt="" height="320px" width="100%">
      <span class="text-secondary small">{{bestoffercourse.course.category.category_name}}</span>
      <h5>{{bestoffercourse.course.title}}</h5>

      <div class="d-flex align-items-center">
        <span class="text-secondary fw-semibold fs-5 text-danger me-2"><i
            class="bi bi-currency-dollar"></i>{{bestoffercourse.remaining_amount}}</span>
        <span class="text-secondary fw-semibold small align-middle"><del class="text-secondary fw-bold"><i
              class="bi bi-currency-dollar"></i>{{bestoffercourse.course.price|floatformat:2}}</del></span>
        <button class="btn btn-info ms-auto text-white fw-semibold" disabled>{{bestoffercourse.offer}}% off</button>
      </div>
      <hr>
      <div class="text-center">
        <a href="{% url 'addtocart' id=hotcourse.id %}" class="">
          <button class="btn btn-outline-success px-4 mx-auto fw-semibold "><i class="bi bi-plus-lg"></i> Add TO
            Cart</button>
        </a>
      </div>
    </div>

    <div class="col-7">
      <div class="row">
       <div class="col-4">
        <h4>Other Offers ....</h4>
      </div>

      <div class="col-8 ms-auto d-flex pb-1"id="showcategories">
        <a href="{% url 'super_deals'   %}" class="ms-auto">
          <button class="btn btn-outline-info fw-semibold px-3">
            Get More <i class="bi bi-arrow-up-right-square ms-2"></i>
          </button>
        </a>
        </div>
      </div>
       <hr class="mt-0">
      
      <div class="container-fluid">
        <div class="row row-cols-3 gx-5">
          {% for offercourse in courses %}
          {% if forloop.counter != 1 %}
          <div class="col d-flex {{forloop.counter}} my-4 {% if forloop.counter != 4 %}border-end{% endif %} {% if forloop.counter != 7 %}border-end{% endif %}"
          onmouseenter="showBtn('btn-addtocart{{forloop.counter}}')"
          onmouseleave="hiddenBtn('btn-addtocart{{forloop.counter}}')"
          style="height: 220px;">
            <div class="pt-4 pb-2 px-4 shadow-sm position-relative overflow-hidden"
              style="height: fit-content; height: fit-content;">
              <div class="position-absolute offers-badge w-50 py-2 text-center bg-info">
                <span class="small fw-semibold text-white">{{offercourse.offer}}% </span>
              </div>
              <img src="{{offercourse.course.image.url}}" height="120px" width="100%" alt="">
              <span class="text-secondary small">{{offercourse.course.category.category_name}}</span>
              <h6>{{offercourse.course.title}}</h6>
              <p class="mb-0"> <span class="text-secondary fw-semibold fs-5 text-danger me-2 align-middle"><i
                    class="bi bi-currency-dollar"></i>{{offercourse.remaining_amount|floatformat:2}}</span>
                <span class="text-secondary fw-semibold small"><del class="text-secondary fw-semibold"><i
                      class="bi bi-currency-dollar"></i>{{offercourse.course.price|floatformat:2}}</del></span>
              </p>
              <div class="text-center d-none mt-2" id="btn-addtocart{{forloop.counter}}"
                style="transition:all 1s linear !important">
                <a href="{% url 'addtocart' id=hotcourse.id %}" class="">
                  <button class="btn btn-outline-success px-4 mx-auto fw-semibold "><i class="bi bi-plus-lg"></i> Add TO
                    Cart</button>
                </a>
              </div>
            </div>

          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>



<!-- Best Offer Section ---------------- -->
<div class="container-fluid my-5 py-5 px-4" style="background-color: rgba(135, 207, 235, 0.161);">
  <div class="row  px-4 mb-3">
    <div class="col-10 mx-auto">
      <div class="d-flex">
        <h3>Hot Best Sellers...</h3>
      </div>
      <hr class="mt-0">
    </div>

    <div class="col-10 mx-auto">
      <div class="row">
        {% for course in bestsellerscourses %}
        <div class="col-4">
          <div class="d-flex shadow-sm bg-white mb-5 me-4 position-relative overflow-hidden rounded">
            <div class="position-absolute bets-sellers-badge w-50 py-1 text-center bg-info">
              <span class="small fw-semibold text-white">{{course.sale_counter}} Sales </span>
            </div>
            <div>
              <img src="{{course.image.url}}" alt="" height="120px" width="150px ">
            </div>
            <div class="px-2 pt-1 d-flex flex-column">
              <h6 class="mb-1">{{ course.title}}</h6>
              <p class="fw-semiblod text-secondary mb-0 fst-italic lh-1" style="font-size:12px">
                {{course.description|truncatechars:80}}
              </p>
              <p class="small fw-semibold text-danger mt-auto mb-1">
                <i class="bi bi-currency-dollar"></i>{{course.price|floatformat:2}} 
              </p>
              <div class="d-flex w-100 mb-auto">
                <a href="{% url 'About More Course' id=course.id %}">
                  <button class="btn btn-primary fw-semibold px-3 py-1 " style="font-size: 10px; width:fit-content">About More</button>
                </a>
                <a href="{% url 'addtocart' id=course.id %}" class="ms-auto">
                  <button class="btn btn-outline-success fw-semibold px-3 py-1 " style="font-size: 10px; width:fit-content"><i class="bi bi-cart4"></i> Add To Cart</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>









{% for msg in messages %}
<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
<iframe src="https://www.youtube.com/watch?v=PdkQooqoINA" class="d-none" frameborder="0" onload="message()"></iframe>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal"
  id="msgButton">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          <img src="{{user.image.url}}" class="rounded-5" style="height: 30px; width:30px;">
          {{user.email}}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{msg}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock body %}

{% block customJS %}
<script>
  function message() {
    const msgButton = document.getElementById("msgButton")
    msgButton.click()
  }

  function showBtn(id) {
    const btn = document.getElementById(id)
    btn.classList.replace("d-none", "d-block");
  }
  function hiddenBtn(id) {
    const btn = document.getElementById(id)
    btn.classList.replace("d-block", "d-none");
  }


  function selectcategory(event){
    const category = event.target.value;
    const showcategories = document.getElementById("showcategories")
    console.log(showcategories)
    showcategories.innerHTML +=`<i class="ms-auto">${category},</i>`
  }
</script>

{% endblock customJS %}