{% extends "base.html" %} 
{% load static %} 
{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-dark">
      {% include 'customerdeshboard_sidebar.html' with sellinghistory='bg-light text-dark' %}
    </div>
    <div class="col-10">
      <div class="container shadow-lg m-4 p-5">
        <div class="row">
          <h1 class="display-4 text-center fw-bold text-secondary"> <i class="bi bi-clock-history me2"></i> Your History...</h1>
          <hr />
        </div>
        {% if not historiesforsale %}
        <div class="row">
          <div
            class="col-6 mx-auto text-center text-danger d-flex flex-column justify-content-center"
          >
            <i class="bi bi-folder2-open" style="font-size: 200px"></i>
            <h1>Empty...</h1>
           
          </div>
        </div>
        {% else %}
        <!--         
        =======================================================================
        Approved courses here==================================================
        ======================================================================= 
        
      -->
        <div class="row py-4">
          <div class="col-11 mx-auto shadow-lg d-flex justify-content-center">
          <table class="table">
            <thead>
                <tr>
                    <th>S.No.</th>
                <th>Course Name</th>
                <th>buyer Name</th>
                <th>Data & Time</th>
                <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for history in historiesforsale %}
                <tr class="fs-6">
                    <th>{{forloop.counter}}</th>
                    <td>
                      <form action="{% url 'singlecourse' %}" method="get">
                        <input type="text" name="course_name" value="{{history.course.title}}" class="d-none">
                        <button class="border-0 bg-body text-primary text-decoration-underline">{{history.course.title}}</button>
                      </form>
                    </td>
                    <td>{{history.buyer.first_name}} {{history.buyer.last_name}}</td>
                    <td>{{history.datetime}}</td>
                    <td class="text-success fw-semibold">
                      <i class="bi bi-currency-dollar"></i>
                      {{history.course.price|floatformat:2}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>

        </div>
        

        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock body %}
