{% extends "base.html" %} 
{% load static %} 
{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-dark">
      {% include 'customerdeshboard_sidebar.html' with buyinghistory='bg-light text-dark' %}
    </div>
    <div class="col-10 pb-5">
      <div class="row my-5">
        <h1 class="display-4 text-warning fw-semibold text-center fst-italic">
          <i class="bi bi-journal-medical"></i> {{course.title}}
        </h1>
        <hr>
      </div>

      <div class="row">
       <div class="col-11 mx-auto shadow-lg d-flex justify-content-center">
        <div class="row px-2 py-3">
          <div class="col-3 pe-0">
            <img
              src="{{course.image.url}}"
              height="100%"
              width="100%"
              alt=""
            />
          </div>
          <div class="col-6 d-flex">
            <div class="px-2  d-flex flex-column">
              <h6 class="fw-semibold fst-italic text-secondary">{{course.category.category_name}}</h6>
              <hr class="mt-0">
              <h4>{{course.title}}</h4>
              <p class="fw-normal mb-2 fst-italic" style="font-size: 13px">
                {{course.description|truncatechars:300 }}
              </p>
              <div class="w-100 text-end  mt-auto">
                <button
                  class="btn btn-primary"
                  style="font-size: 12px; font-weight: 600"
                  data-bs-toggle="collapse"
                  href="#aboutmore{{course.id}}"
                  role="button"
                  aria-expanded="false"
                  aria-controls="{{course.title}}"
                >
                  Read More <i class="bi bi-caret-down-fill"></i>
                </button>
              </div>
            </div>
            <div class="vr"></div>
          </div>
          <div class="col-3 d-flex flex-column">
            <div class="text-end">
              <i class="bi bi-person-lines-fill pe-1"></i>
              <div class="vr"></div>
              <i class="bi bi-suit-heart pe-1"></i>
            </div>
            <h5 class="text-center mb-0">
              <i class="bi bi-currency-dollar"></i>{{course.price}}.00
            </h5>
            <p class="small fw-semibold mb-2 text-center fst-italic">
              {{course.sale_counter}} Sales
            </p>
            <p class="small text-center mb-1 fw-semibold">
              Uploaded : {{course.published_datetime}}
            </p>
              <p class="small text-center mb-1 fw-semibold">
              Approved : {{course.approval_datetime}}
            </p>
            <div class="text-center mt-auto">
             <a href="{{course.course_file.url}}">
                 <button class="btn btn-secondary w-auto fw-semibold px-3" style="font-size: 14px;"><i class="bi bi-file-earmark-pdf"></i> See PDF</button>
              </a>
            </div>
          </div>
          
          <div class="col-12 mx-auto">
            <div class="collapse " id="aboutmore{{course.id}}">
              <div class="row ">
                <hr class="mb-0 mt-3">
                <div class="card card-body border-0  rounded-0">
                  <h4>{{course.title}}</h4>
                  <p>{{course.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row ps-5 mt-5">
        <a href="{% url 'sellinghistory' %}">
        <button class="btn btn-primary w-auto fw-semibold px-5"><i class="bi bi-arrow-bar-left pe-2"></i> Go Back</button>
      </a>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
