{% extends "base.html" %}
{% load static %}
{% block style %}
.hotcourse-badge{
transform:rotate(-45deg);
top:12px;
left:-101px; }

.bestoffercourse-badge{
transform:rotate(45deg);
top:15px;
right:-58px;
}
.offers-badge{
transform:rotate(-45deg);
top:0px;
left:-72px;
}
.bets-sellers-badge{
  transform:rotate(-45deg);
  top: 3px;
  left: -84px;
  font-size: 14px;
}
{% endblock style %}
{% block body %}




<!-- Best Offer Section ---------------- -->
<div class="container-fluid my-5 px-5">
  <div class="row px-5 justify-content-evenly py-5">
    {% for course in bestoffercourses %}
    <div class="col-3  my-auto p-3 border shadow-lg position-relative overflow-hidden" style="height: fit-content;">
      <div class="bg-info px-5 py-3 border position-absolute w-50 text-center bestoffercourse-badge">
        <span class="text-white fw-semibold">Best Offer</span>
      </div>
      <h4 class="text-secondary mb-4">Deal of the week..</h4>
      <img src="{{course.course.image.url}}" class="mb-4" alt="" height="320px" width="100%">
      <span class="text-secondary small">{{course.saller.email}}</span>
      <h5>{{course.course.title}}</h5>

      <div class="d-flex align-items-center">
        <span class="text-secondary fw-semibold fs-5 text-danger me-2"><i
            class="bi bi-currency-dollar"></i>{{course.remaining_amount}}</span>
        <span class="text-secondary fw-semibold small align-middle"><del class="text-secondary fw-bold"><i
              class="bi bi-currency-dollar"></i>{{course.course.price|floatformat:2}}</del></span>
        <button class="btn btn-info ms-auto text-white fw-semibold" disabled>{{course.offer}}% off</button>
      </div>
      <hr>
      <div class="text-center">
        <a href="{% url 'addtocart' id=course.course.id %}" class="">
          <button class="btn btn-outline-success px-4 mx-auto fw-semibold "><i class="bi bi-plus-lg"></i> Add TO
            Cart</button>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<div class="container-fluid my-5 px-5">
  <div class="row px-5 mt-5">
    <div class="col-4">
      <h4>Other Offers ....</h4>
    </div>
  
    <hr class="mt-0">

  </div>
  

  <div class="row row-cols-4 gx-5 px-5">
    {% for course in otheroffercourses %}
    <div class="col d-flex {{forloop.counter}} my-4 "
    onmouseenter="showBtn('btn-addtocart{{forloop.counter}}')"
    onmouseleave="hiddenBtn('btn-addtocart{{forloop.counter}}')"
    style="height: 260px;">
      <div class="pt-4 pb-2 px-4 shadow-sm position-relative overflow-hidden"
        style="height: fit-content; height: fit-content;">
        <div class="position-absolute offers-badge w-50 py-2 text-center bg-info">
          <span class="small fw-semibold text-white">{{course.offer}} % </span>
        </div>
        <img src="{{course.course.image.url}}" height="150px" width="100%" alt="">
        <span class="text-secondary small">{{course.saller.email}}</span>
        <h6>{{course.course.title}}</h6>
        <p class="mb-0"> <span class="text-secondary fw-semibold fs-5 text-danger me-2 align-middle"><i
              class="bi bi-currency-dollar"></i>{{course.remaining_amount|floatformat:2}}</span>
          <span class="text-secondary fw-semibold small"><del class="text-secondary fw-semibold"><i
                class="bi bi-currency-dollar"></i>{{course.course.price|floatformat:2}}</del></span>
        </p>
        <div class="text-center d-none mt-2" id="btn-addtocart{{forloop.counter}}"
          style="transition:all 1s linear !important">
          <a href="{% url 'addtocart' id=course.course.id %}" class="">
            <button class="btn btn-outline-success px-4 mx-auto fw-semibold "><i class="bi bi-plus-lg"></i> Add TO
              Cart</button>
          </a>
        </div>
      </div>

    </div>
    {% endfor %}
  </div>
</div>














{% for msg in messages %}
<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
<iframe src="https://www.youtube.com/watch?v=PdkQooqoINA" class="d-none" frameborder="0" onload="message()"></iframe>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal"
  id="msgButton">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          <img src="{{user.image.url}}" class="rounded-5" style="height: 30px; width:30px;">
          {{user.email}}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{msg}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock body %}

{% block customJS %}
<script>
  function message() {
    const msgButton = document.getElementById("msgButton")
    msgButton.click()
  }

  function showBtn(id) {
    const btn = document.getElementById(id)
    btn.classList.replace("d-none", "d-block");
  }
  function hiddenBtn(id) {
    const btn = document.getElementById(id)
    btn.classList.replace("d-block", "d-none");
  }
</script>

{% endblock customJS %}