{% load static %}
<div class="container-fluid border-end shadow ">
    <div class="d-flex flex-column pt-4">
        <div class="mb-2 border-bottom px-2 pb-2 {{course_list}}">
            <a href="{% url 'superadmin_course_list'  %}" class="text-decoration-none text-secondary fw-semibold fs-5  {{course_list}}">
                Course List
            </a>
        </div>
        <div class="mb-2 border-bottom px-2 pb-2">
            <a href="" class="text-decoration-none text-secondary fw-semibold fs-5">
                Course List
            </a>
        </div>
        <div class="mb-2 border-bottom px-2 pb-2">
            <a href="" class="text-decoration-none text-secondary fw-semibold fs-5">
                Course List
            </a>
        </div>
        <div class="mb-2 border-bottom px-2 pb-2">
            <a href="" class="text-decoration-none text-secondary fw-semibold fs-5">
                Course List
            </a>
        </div>
        <div class="mb-2 border-bottom px-2 pb-2">
            <a href="" class="text-decoration-none text-secondary fw-semibold fs-5">
                Course List
            </a>
        </div>
    </div>
</div>

